go 1.21.0

use (
	./util
	./wuliu-add
	./wuliu-backup
	./wuliu-checksum
	./wuliu-db
	./wuliu-delete
	./wuliu-export
	./wuliu-init
	./wuliu-list
	./wuliu-metadata
	./wuliu-orphan
	./wuliu-overwrite
	./wuliu-rename
)
