<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script src="pics.js"></script>

    <title>Wuliu Pictures</title>

<style>
.PicItem {
  display: flex;
  column-gap: 5px;
  margin-bottom: 1em;
}
.hidden {
  display: none;
}
</style>

  </head>
  <body>
  
  <div id="page-alert"></div>

  <div id="pics-list"></div>
  
  </body>

<template id="pic-item">
  <div class="PicItem">
    <div><a class="thumb-link"><img class="thumb" /></a></div>
    <div>
      <div class="id"></div>
      <div class="filename"></div>
      <div>
        <span class="like hidden">❤️</span>
        <span class="label"></span>
      </div>
      <div class="notes"></div>
      <div class="keywords"></div>
      <div class="collections"></div>
      <div class="albums"></div>
      <div class="ctime"></div>
      <div class="utime"></div>
    </div>
  </div>
</template>

<script>
function query(selectors) {
  return document.querySelector(selectors);
}

function newElem(tagName) {
  return document.createElement(tagName);
}

function p(text) {
  const elem = newElem("p");
  elem.innerText = text;
  return elem;
}

const pageAlert = query('#page-alert');
const picsList = query('#pics-list');
const picItemTmpl = query('#pic-item');

function newPicItem(pic) {
  const item = picItemTmpl.content.cloneNode(true);
  const itemID = `f-${pic.ID}`;
  item.children[0].setAttribute("id", itemID);

  const imgElem = item.querySelector(".thumb");
  imgElem.src = `thumbs/${pic.ID}.jpg`;

  const thumbLinkElem = item.querySelector(".thumb-link");
  thumbLinkElem.href = `pics/${pic.pic_file_name}`;

  const idElem = item.querySelector(".id");
  idElem.innerText = pic.ID;

  const filenameElem = item.querySelector(".filename");
  filenameElem.innerText = pic.Filename;

  const likeElem = item.querySelector(".like");
  if (pic.Like > 0) likeElem.classList.remove("hidden");
  if (pic.Like > 1) likeElem.innerText = "❤️" + pic.Like;

  const labelElem = item.querySelector(".label");
  if (pic.Label) labelElem.innerText = `[${pic.Label}]`;

  const notesElem = item.querySelector(".notes");
  notesElem.innerText = pic.Notes;

  const kwElem = item.querySelector(".keywords");
  if (pic.Keywords.length > 0) kwElem.innerText = pic.Keywords.join(", ");

  const collElem = item.querySelector(".collections");
  if (pic.Collections.length > 0) collElem.innerText = pic.Collections.join(", ");

  const albumsElem = item.querySelector(".albums");
  if (pic.Albums.length > 0) albumsElem.innerText = pic.Albums.join(", ");

  const ctimeElem = item.querySelector(".ctime");
  ctimeElem.innerText = "created at " + pic.CTime.substring(0, 10);

  const utimeElem = item.querySelector(".utime");
  utimeElem.innerText = "updated at " + pic.UTime.substring(0, 10);

  return item;
}

function appendItems(allItems, listElem, newItemFn) {
  allItems.forEach(item => {
    listElem.appendChild(newItemFn(item));
  });
}

/* script src="pics.js" */
function initPicsList() {
  allPics = pics.pics;
  if (!allPics || allPics.length == 0) {
    pageAlert.appendChild(p("Warning: 未找到圖片。"));
    return;
  }
  allPics.sort((a,b) => {
    return a.UTime.localeCompare(b.UTime);
  });
  appendItems(allPics, picsList, newPicItem);
}

initPicsList();

</script>
</html>
